@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&display=swap');
body {
  font-family: 'Heebo', sans-serif;
}
.button {
  width: 208px;
  height: 47px;
  left: 148px;
  top: 477px;
  border: none;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: 10px;
}
.primary {
  background: #1C2541;
}
.secondary {
  background: #5BC0BE;
}
.dark-mode .title-project {
  color: #2cc4a0;
}
.container-landing-page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-index {
  width: inherit;
}